
body,html * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #303030;
}

.code,.code * {
    font-family: "DejaVu Sans Mono",monospace;
}

h1 {
    font-size: 4em;
    color: #333333;
    text-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c;
    margin: 14px 0;
    padding: 0 16px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px dashed grey;
    min-height: 60px;
}

h1 em {
    color: #b4b4b4;
    text-shadow: none;
    font-size: small;
    padding-left: 2em;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
}

#inputCt,#errorBox {
    margin: 8px 16px;
}

#inputCt div.re {
    background: #EEE;
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    border: 1px solid black;
    padding: 4px;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}

#inputCt div.re table {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#inputCt div.re .input {
    color: #3030C0;
    padding: 0 2px;
    border: none;
    background: #EEE;
    font-size: 1.2em;
    line-height: 1.4em;
    height: 1.4em;
    font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
    margin: 0;
    width: auto;
}

#inputCt div.re #input {
    display: table;
    width: 100%;
}


#errorBox {
    background: #EEE;
    font-size: 1.2em;
    line-height: 1.4em;
    border: 1px solid black;
    padding: 4px;
    color: darkred;
    white-space: pre;
    word-wrap: normal;
    word-break: keep-all;
    display: none;
    overflow: auto;
}

:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
  }

/*  BUTTONS  */
.btn {
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #FFF;
    justify-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn__primary {
    color: #b4b4b4;
    background: linear-gradient(145deg, #3b3b3b, #242424);
    /* box-shadow: 5px 5px 10px #101010, -3px -3px 10px #999999; */
    box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c;
    border: 1px solid;
    border-top-color: #373737;
    border-left-color: #373737;
    border-bottom-color: #3b3b3b;
    border-right-color: #3b3b3b;
}
.btn__primary:hover {
    color: #eee;
    box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c;
    border: 1px solid #222;
}
.btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #0a0a0a, inset -0.2rem -0.2rem 0.5rem #464646;
}
.btn__secondary {
    color: #9baacf;
}
.btn__secondary:hover {
    color: #6d5dfc;
}
.btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #FFF;
}
/* .btn p { */
    /* font-size: 1.6rem; */
/* } */

.button-panel,#visualIt,#embedIt,#exportIt {
    outline: none;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    margin: 10px;
    margin-left: 0;
    padding: 12px;
    padding-bottom: 10px;
    cursor: pointer;
    /* background: #40B0EF; */
    /* background-image: #274d7e; */
    border-radius: 12px;
    text-decoration: none;
}

#visualIt:hover,#embedIt:hover,#exportIt:hover {
    color: #FFF;
    /* background: #3498DF; */
    /* text-decoration: none; */
}

/*  CHECKBOX  */
/* .checkbox {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-gap: 3rem;
    justify-content: center;
} */

/* #inputCt label {
    cursor: pointer;
} */

/* #inputCt label input {
    margin-right: 4px;
} */

.checkbox input {
    display: none;
}
.checkbox__1, .checkbox__2 {
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    margin-left: 0;
}
.checkbox__1 label i, .checkbox__2 label i {
    user-select: none;
}
.checkbox__1 label, .checkbox__2 label {
    box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    padding: 2px;
    font-size: 1.5rem;
    width: 30px;
    text-align: center;
    height: 30px;
}
.checkbox__1 label:hover i, .checkbox__2 label:hover i {
    color: #f1e1ff;
    text-shadow: 0 0 1rem #da91ff, 0 0 0.5rem #c81aff;
}
.checkbox__1 label i, .checkbox__2 label i {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--greyDark);
    transition: 0.3s ease;
}
.checkbox__1 input:checked ~ label, .checkbox__2 input:checked ~ label {
    box-shadow: inset 0.2rem 0.2rem 0.5rem #0a0a0a, inset -0.2rem -0.2rem 0.5rem #464646;
}
.checkbox__1 input:checked ~ label i, .checkbox__2 input:checked ~ label i {
    /* /* color: var(--primary); */
    color: #f1e1ff;
    text-shadow: 0 0 1rem #da91ff, 0 0 0.5rem #c81aff;
}


#graphCt {
    padding: 4px;
    margin: 0px 16px;
    border: 1px solid black;
    background: #EEE;
    overflow: auto;
    cursor: move;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#graphCt svg {
    display: block;
    margin: 0 auto;
}

footer div.normal {
    text-align: center;
    border-top: 1px solid grey;
    margin: 1em auto;
    padding: 10px;
    font-size: 1.2em;
}

footer,footer a {
    color: #EEF;
}

footer div.embed {
    display: none;
}

body.embed {
    background: #EEE;
}

body.embed,body.embed #graphCt {
    margin: 0;
    padding: 0;
    border: none;
}

body.embed h1, body.embed #inputCt, body.embed #github {
    display: none !important;
}

body.embed footer div.normal {
    display: none;
}

body.embed footer div.embed {
    display: block;
}

body.embed footer div.embed,body.embed div.footer a {
    color: white;
    font-size: 14px;
}

body.embed footer {
    display: block;
    width: auto;
    margin: 0;
    padding: 2px 10px;
    background: rgb(75,0,130);
    opacity: 0.85;
    position: fixed;
    right: 0;
    bottom: 0;
}

body.embed {
    height: 100%;
}

body.embed #graphCt {
    height: 100vh;
}

.exportCanvas {
    display: block;
    margin: 0 auto;
    image-rendering: pixelated;
}

#graphCt {
    border: solid 1px black;
}
#errorBox {
    background: #EEE;
    font-size: 1.2em;
    line-height: 1.4em;
    border: 1px solid black;
    padding: 4px;
    color: darkred;
    white-space: pre;
    word-wrap: normal;
    word-break: keep-all;
    display: none;
    overflow: auto;
}
.code, .code * {
    font-family: "DejaVu Sans Mono",monospace;
}