/* Global Vars */
:root {
  --font-family: VictorMono, monospace;
  --font-size: 25px;
  --line-height-ratio: 1.4;
  --editor-margin: 20px;

  --color-codepen: #000;
  --color-github: #4284c0;
  --color-twitter: #2b97f1;
  --color-dribbble: #ef5a92;
  --color-instagram: #527fa6;
  --color-linkedin: #006599;
  --color-facebook: #3b5a9b;

  --dark-soft: #00000030;

  --building-1: yellow;
  --building-2: black;

  --gradient-color-1: #ff0058;
  --gradient-color-2: #03a9f4;
  --gradient-color-soft-1: #ff0058b8;
  --gradient-color-translucent-1: #ff0058b8;
  --gradient-color-translucent-2: #03a9f4b8;

  --primary-color: indigo;
  --primary-dark-color: #260042;

  --primary-electric-color: #be7aeb;
  --primary-electric-dark-color: #9d3ddd;

  --link-color: #3cace6;

  --code-background: #2e2e2e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: light) {
  :root {
  }
} */

[data-theme="light"] {
  --font-color: #404040;
  --font-soft-color: #959595;
  --font-shadow-soft-background: #ffffff52;

  --black-white: white;
  --icon-theme: #fff;
  --shadow-icon-light: #ffffff26;
  --shadow-icon-dark: #00000099;
  --shadow-icon-theme: #ffdd1d;

  --shadow-light: #ffffff0d;
  --shadow-dark: #00000073;
  --shadow-highlight: #00000073;

  --panel-fixed-background: #efefefd9;
  --panel-background: #d2d2d2;
  --panel-border-color: #b2b2b2;
  --panel-background-grad-1: #cecece;
  --panel-background-grad-2: #ffffff;

  --background-grad-px: 60%;
  --background-grad-py: 60%;

  --color-editor: #2a2a2a;
  --color-caret: #4b0082;
  --color-syntax: #4b0082;
  --back-editor: #e2e2e2;
  --editor-border-line: #0000003d;
  --color-editor-margin: #d2d2d2;
  --tools-back: #6ebefc;

  --contrast-traslucent-background: #00000030;
  --contrast-soft-background: #0000009c;

  --border-primary-color: #9c9c9c;
}

[data-theme="dark"] {
  --font-color: #f3f3f3;
  --font-soft-color: #959595;
  --font-shadow-soft-background: #56555554;

  --black-white: black;
  --icon-theme: #fff;
  --shadow-icon-light: #000000a8;
  --shadow-icon-dark: #ffffff25;
  --shadow-icon-theme: #fff;

  --shadow-light: #ffffff0d;
  --shadow-dark: #00000073;
  --shadow-highlight: #ffffff0d;

  --panel-fixed-background: #242424ed;
  --panel-background: #363636;
  --panel-border-color: #292929;
  --panel-background-grad-1: #0b0b0bc2;
  --panel-background-grad-2: #1b1b1b91;

  --background-grad-px: 0%;
  --background-grad-py: 0%;

  --color-editor: #cecece;
  --color-caret: #b34cff;
  --color-syntax: #b34cff;
  --back-editor: #202020;
  --editor-border-line: #e0e0e042;
  --color-editor-margin: #3b3b3b;
  --tools-back: #2e1279;

  --contrast-traslucent-background: #cfcfcf30;
  --contrast-soft-background: #ffffff3b;

  --border-primary-color: var(--primary-electric-color);
}

/* Short props */
:root {
  --text-shadow-color: 0 0 10px var(--black-white), -1px 0px 2px var(--gradient-color-2), 1px 0px 2px var(--gradient-color-1), -1px 0px 4px var(--gradient-color-2), 1px 0px 4px var(--gradient-color-1), -4px 0px 8px var(--gradient-color-2), 4px 0px 8px var(--gradient-color-1);
}

[data-theme] #theme-switch {
  translate: 0;
}

#theme-switch {
  z-index: 10;
  position: fixed;
  left: calc(50% - 5em/2);
  top: -1.5em;
  padding: 1em 0 0 0;
  width: 5em;
  height: 5em;
  display: flex;
  background: var(--panel-background);
  border: 4px dashed var(--border-primary-color);
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-radius: 10px;
  translate: 0 -100%;
  transition: translate 0.5s 1s cubic-bezier(0.15, 1.0, 0.4, 1.10);
}
#theme-switch label::after {
  user-select: none;
  padding: 5px;
  font-family: "Material Icons";
  content: "light_mode";
  color: var(--font-color);
  box-shadow: inset 0.2rem 0.2rem 0.8rem var(--shadow-light), inset -1px -1px 2px var(--shadow-dark), 3px 3px 5px var(--shadow-dark), -0.2rem -0.2rem 0.5rem var(--shadow-light);
  justify-content: center;
  font-size: 1em;
  display: flex;
  background: var(--panel-background);
  align-items: center;
  text-shadow: 0 0 1rem var(--shadow-light), 0 0 1rem var(--shadow-light), 0 0 1rem var(--black-white);
}
#theme-switch input:checked ~ label::after {
  content: "dark_mode";
}
#theme-switch .switchElement input {
  display: none;
}
#theme-switch .switchElement {
  width: 3em;
}
#theme-switch .switchElement label {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid var(--panel-border-color);
  /* background: linear-gradient(to left, #be7aeb, #9d3ddd); */
  height: 30px;
  box-shadow: -0.2em -0.2em 0.5em var(--shadow-light), 0.2em 0.2em 0.5em var(--shadow-dark), inset 0.2em 0.2em 0.5em var(--shadow-dark);
  position: relative;
  cursor: pointer;
  border-radius: 30px;
}
#theme-switch .switchElement input[type="checkbox"]:checked ~ label {
  background: linear-gradient(to right, var(--primary-electric-color), var(--primary-electric-dark-color));
}

#theme-switch .switchElement label::after {
  position: absolute;
  border-radius: 50%;
  translate: 0%;
  transition-property: background-color, translate;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.15, 1.0, 0.4, 1.10);
}
#theme-switch .switchElement label::before {
  content: "";
  border-radius: inherit;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.3, 1.5, 0.7, 1);
}
#theme-switch .switchElement input:checked ~ label::before {
  opacity: 1;
}
#theme-switch .switchElement input:checked ~ label::after {
  translate: calc(100% - 5px);
}

html,
body {
  overscroll-behavior-y: contain;
  overflow-x: auto;
}

html {
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #414141;
}

body {
  min-height: 100vh;
  min-width: 500px;
  /* Only for background 100% height */
  position: relative;
}

@media (max-width: 800px) {
  body {
    min-width: 350px;
  }
}

body,
html,
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

body:before {
  content: "";
  position: absolute;
  background-image: url(../images/background_repeat_3.png);
  opacity: 0.1;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@property --focal-size {
  syntax: '<length-percentage>';
  initial-value: 100%;
  inherits: false;
}

body span#theme-filter {
  --focal-size: 0%;
  position: absolute;
  backdrop-filter: invert(1);
  width: 100%;
  height: 100%;
  overflow: hidden;
  inset: 0;
  z-index: -1;
  touch-action: none;
  -webkit-backdrop-filter: invert(1);
  backdrop-filter: invert(1);
  -webkit-mask-image: radial-gradient(circle at 50% 0, transparent var(--focal-size), black 0% );
  mask-image: radial-gradient(circle at 50% 0, transparent var(--focal-size), black 0% );
  transition: --focal-size 1s ease;
}

[data-theme="dark"] body span#theme-filter {
  --focal-size: 100%;
}


/* noscript */

body.js-enabled *.js-no-enabled {
  display: none !important;
}

h2#noscript {
  top: 0;
  box-sizing: border-box;
  color: white;
  width: 100%;
  z-index: 500;
  position: fixed;
  background: #ff001f;
  padding: 20px;
  font-size: 20px;
}

#container-main {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

/* SIDEBAR */

#close-side {
  width: 1em;
  position: relative;
  flex: none;
  height: 100vh;
  overflow: visible;
  z-index: 300;
  cursor: pointer;

  transition: transform 0.3s;

  /* font-family: "Font Awesome 5 Free"; */
  /* font-weight: 900; */
}

/* span#close-side:after {
    content: "\f069";
    height: 2.5em;
    width: 2.5em;
    font-size: 1.5em;
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
    border-radius: 50%;
    top: 0.8em;
    left: -3.5em;
    line-height: 2.5em;
    transition: transform 0.3s, background-position 1s;
} */

span#close-side .burger {
  /* content: "\f069"; */
  height: 2.5em;
  width: 2.5em;
  font-size: 1.5em;
  position: absolute;
  color: white;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  top: 0.8em;
  left: -3.5em;
  line-height: 2.5em;
  transition: transform 0.3s, background-position 1s;
  /* transition: all .5s ease; */
  border: 1px #f6f6f67d solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

span#close-side .strip {
  font-size: 0.75em;
}

span#close-side .strip div {
  height: 0.2em;
  background: white;
  margin: 0.3em;
  transition: transform 0.65s cubic-bezier(0.075, 0.82, 0.165, 1),
    margin 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 1.5em;
}

span#close-side:hover .burger .strip div:first-child,
#container-main.menu-open span#close-side .burger .strip div:first-child {
  transform: translateY(0.2em) rotate(-15deg);
  margin: 0;
}

span#close-side:hover .burger .strip div:nth-child(2),
#container-main.menu-open span#close-side .burger .strip div:nth-child(2) {
  transform: rotate(45deg);
  margin: 0;
}

span#close-side:hover .burger .strip div:last-child,
#container-main.menu-open span#close-side .burger .strip div:last-child {
  transform: translateY(-0.2em) rotate(-75deg);
  margin: 0;
}

span#close-side:hover .burger .strip,
#container-main.menu-open span#close-side .burger .strip {
  transform: rotate(45deg);
  transition: transform 0.25s ease 0.05s;
}

/* span#close-side:hover:after { */
span#close-side:hover .burger {
  background-position: 0% 50%;
  background: linear-gradient(135deg, #03a9f4, #ff0058, #d61c71, #f9005c);
  border: none;
  padding: 1px;

  background-size: 200px 200px;
}

#close-side:before {
  content: "";
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  width: 1em;
  height: 100vh;
  position: absolute;
  z-index: -1;
  transform: scaleX(1.5);
  transform-origin: left;
  transition: width 0.3s;
}

#container-main.menu-open span#close-side:before {
  transform: none;
}

#container-main:not(.menu-open) span#close-side {
  filter: url(#goo);
}

/* #container-main:not(.menu-open) span#close-side:hover:before {
    transform: scaleX(2.5);
} */

/* #container-main:not(.menu-open) span#close-side:after { */
#container-main:not(.menu-open) span#close-side .burger {
  /* opacity: 0; */
  /* visibility: hidden; */
  border: none;
  padding: 1px;
  transform: translateX(4em);
  background: linear-gradient(315deg, #d61c71, #f9005c);
  /* background: linear-gradient(135deg, #03a9f4, #ff0058, #d61c71, #f9005c); */
  background-position: 100% 50%;
  transition: opacity 0.3s, visibility 0s 0.3s, transform 0.5s,
    background-position 1s;
}

/* #container-main:not(.menu-open) span#close-side:hover:after { */
#container-main:not(.menu-open) span#close-side:hover .burger {
  opacity: 1;
  visibility: visible;
  transform: translateX(4em);
  transition: opacity 0.3s, visibility 0s, transform 0.5s,
    background-position 1s;
}

#container-main > #sidebar-overlay {
  position: absolute;
  width: 100%;
  z-index: 20;
  height: 100%;
  background: #0000008f;
  backdrop-filter: unset;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s, backdrop-filter 0.5s;
}

#container-main.menu-open > #sidebar-overlay {
  /* backdrop-filter: saturate(0.5); */
  opacity: 1;
  visibility: visible;
  transition: opacity 1s 0.1s, visibility 0s, backdrop-filter 0.5s 0.5s;
}

#sidebar {
  position: fixed;
  width: 450px;
  max-width: 100vw;
  height: 100vh;
  padding-left: 100px;
  box-sizing: content-box;
  background: #000000ba;
  /* backdrop-filter: blur(10px); */
  /* border-right: solid 5px white; */
  box-shadow: 0 5px 25px 5px black;
  /* overflow: hidden; */
  z-index: 50;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* transition: transform 0.4s cubic-bezier(0.4, 0, 1, 1); */
  transition: transform 0.3s ease-in-out;
}

#sidebar .container-heading {
  box-sizing: border-box;
  height: 100vh;
  padding: 60px 0px 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: center;
  justify-content: space-between;
  grid-gap: 1em;
  /* mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, black 10px, transparent 10px, transparent 20px, black 20px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, black 10px, transparent 10px, transparent 20px, black 20px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s; */
}

/* SIDEBAR SCROLL MAGIC */

/* 
#sidebar .container-heading::-webkit-scrollbar-track {
    background-color: #ffffff4f;
}

#sidebar .container-heading::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

#sidebar .container-heading::-webkit-scrollbar-thumb {
    background-color: #363636;
}

#sidebar .container-heading {
    scrollbar-width: auto;
    scrollbar-color: #363636 #ffffff33;
}

#sidebar .container-heading:hover {
    mask-position: left top;
    -webkit-mask-position: left top;
} */

/* END MAGIC SCROLL */

#sidebar .container-heading .heading {
  box-sizing: border-box;
  grid-gap: 50px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
}

#sidebar .container-heading .heading #title {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
}

#sidebar .container-heading .heading #title h1 {
  user-select: none;
  font-style: italic;
  font-weight: 400;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #202020;
  font-size: 80px;
  color: white;
  line-height: 80px;
  text-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c;
  min-height: 60px;
}

#sidebar .container-heading .heading #title .version {
  padding: 5px 10px;
  margin: 0 0 auto;
  border-radius: 20px;
  text-align: center;
  line-height: 25px;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  color: white;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  -webkit-text-stroke-width: 0px;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff;
  z-index: -1;
}

#sidebar .container-heading .heading #title em {
  -webkit-text-stroke-width: 0px;
  /* text-shadow: 0 0 10px #e9cff6, 0 0 5px #c81aff, 0 0 10px #c81aff, 0 0 20px #c81aff; */
  /* text-shadow: 0 0 10px #ffffff78, 10px 0 5px #03a9f4, -10px 0 5px #ff0058, 0 0 10px #03a9f4, 0 0 20px #03a9f4; */
  color: white;
  font-family: var(--font-family);
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}

#sidebar .container-heading .heading #logo img {
  width: 100%;
}

#sidebar .container-heading section#sections {
  display: grid;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
  grid-template-columns: 5em 5em;
  justify-content: center;
  width: 100%;
  padding: 1em 4em;
  box-sizing: border-box;
}

#sidebar .container-heading section#sections a {
  width: 5em;
  height: 5em;
  text-decoration: unset;
  background: #ffffff24;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: background 0.2s, box-shadow 0.2s;
}

#sidebar .container-heading section#sections a:hover {
  /* background: #ffffff70; */
  box-shadow: inset 0 0 10px -4px white, inset -5px 0px 10px 0 #ff00581f,
    inset 5px 0px 10px 0 #03a9f421, 0 0 10px -4px #ffffff,
    5px 8px 32px -5px #ff0058b8, -5px 8px 32px -5px #03a9f4;
}

#sidebar .container-heading section#sections a i {
  font-size: 3em;
  color: white;
}

#sidebar .container-heading section#sections a img {
  height: 80%;
}

/* Social Icons */

#sidebar .container-heading .social-icons {
  display: flex;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  /* margin: auto; */
}

.social-icon {
  display: grid;
  background: linear-gradient(145deg, var(--panel-background-grad-1), var(--panel-background-grad-2)) !important;
  /* box-shadow: inset 0.2rem 0.2rem 0.8rem #464646,
    inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a,
    -0.2rem -0.2rem 0.5rem #6c6c6c; */
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all 0.15s ease;
}

.social-icon:hover a i{
  color: #fff;
}

.social-icon:hover .tooltip {
  z-index: 200;
  /* box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c; */
  color: white !important;
  opacity: 1;
  /* transition: box-shadow 0.4s 0.1s ease, color 0.4s ease, opacity 0.4s ease; */
}

.social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.social-icon--linkedin {
  background: var(--color-linkedin);
  color: #fff;
}

.social-icon--linkedin .tooltip {
  background: var(--color-linkedin);
  color: currentColor;
}

.social-icon--linkedin .tooltip:before {
  border-bottom-color: var(--color-linkedin);
}

.social-icon--twitter {
  background: var(--color-twitter);
  color: #fff;
}

.social-icon--twitter .tooltip {
  background: var(--color-twitter);
  color: currentColor;
}

.social-icon--twitter .tooltip:before {
  border-bottom-color: var(--color-twitter);
}

.social-icon--codepen {
  background: var(--color-codepen);
  color: #fff;
}

.social-icon--codepen .tooltip {
  background: var(--color-codepen);
  color: currentColor;
}

.social-icon--codepen .tooltip:before {
  border-bottom-color: var(--color-codepen);
}

.social-icon--facebook {
  background: var(--color-facebook);
  color: #fff;
}

.social-icon--facebook .tooltip {
  background: var(--color-facebook);
  color: currentColor;
}

.social-icon--facebook .tooltip:before {
  border-bottom-color: var(--color-facebook);
}

.social-icon--instagram {
  background: var(--color-instagram);
  color: #fff;
}

.social-icon--instagram .tooltip {
  background: var(--color-instagram);
  color: currentColor;
}

.social-icon--instagram .tooltip:before {
  border-bottom-color: var(--color-instagram);
}

.social-icon--dribbble {
  background: var(--color-dribbble);
  color: #fff;
}

.social-icon--dribbble .tooltip {
  background: var(--color-dribbble);
  color: currentColor;
}

.social-icon--dribbble .tooltip:before {
  border-bottom-color: var(--color-dribbble);
}

.social-icon--github {
  background: var(--color-github);
  color: #fff;
}

.social-icon--github .tooltip {
  background: var(--color-github);
  color: currentColor;
}

.social-icon--github .tooltip:before {
  border-bottom-color: var(--color-github);
}

.social-icon i {
  position: relative;
  top: 1px;
  color: var(--black-white);
}

/* Tooltips */

.tooltip {
  color: white !important;
  height: 20px;
  line-height: 20px;
  display: block;
  opacity: 0;
  position: absolute;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate(-50%, 60%);
  z-index: 1;
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #242424;
  transition: 0.5s;
  /* background: rgb(0 0 0 / 25%) !important; */
  /* box-shadow: 0 0 5px 0px #0000004d, 0 0 10px #0000004d; */
  background: linear-gradient(315deg, #03a9f480, #ff005880) !important;
  box-shadow: inset 0 0 20px 0px #fffefeb5, 0 0 5px 0px #fffefe00,
    -5px 0 10px -2px #ff0058, 5px 0 10px -2px #03a9f4;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.tooltip:before {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  opacity: 0;
  border-bottom-color: #313131 !important;
  filter: drop-shadow(-5px -3px 4px #6c6c6c) drop-shadow(4px 0px 2px #252525);
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px;
  border-color: transparent;
  transform: translate(-50%, -190%);
}

#main {
  padding: 40px 20px 0 40px;
  margin: 40px 0;
  width: 100%;
  box-sizing: border-box;
  /* CARD STYLE */
  /* margin: 100px auto 50px;
    width: 60vw;
    min-width: 300px;
    padding: 5vw;
    box-sizing: border-box;

    background: linear-gradient(315deg, #00000042, #38383842);
    border-radius: 20px;
    box-shadow: inset -5px 0 40px -10px red, inset 5px 0 40px -10px blue;
    box-shadow: inset 0 0 20px -10px white; */
}

#container-main #sidebar {
  transform: translateX(calc(-450px + -100px + 0.5em));
}

#container-main.menu-open #sidebar {
  transform: translateX(-100px);
  /* transition: transform 0.5s cubic-bezier(0, 0, 0.65, 1.3); */
}

/* FIXING SCREENS LESS OF MAX SIZE SIDEBAR */

@media (max-width: 450px) {
  #main {
    padding: 40px 0px 0 10px;
  }

  #container-main.menu-open #sidebar {
    transform: translateX(calc(-450px + 100vw + -100px)) !important;
  }

  #container-main:not(menu-open) #sidebar {
    left: calc(450px - 100vw);
  }
}

#container-main #sidebar .container-heading::-webkit-scrollbar {
  display: none;
}

#container-main.menu-open #sidebar .container-heading::-webkit-scrollbar {
  display: block;
}

/* #container-main.menu-open #main {
    transform: translateX(350px);
} */

#beyond-editor {
  display: flex;
  margin: 20px 10px;
  flex-wrap: nowrap;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#beyond-editor div.container-editor {
  width: 100%;
  font-size: 24px;
  /* background: #e2e2e2; */
  line-height: 1.4em;
  color: #333;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word;
  box-shadow: 0 0 1rem var(--dark-soft);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
}

#beyond-editor .container-editor #editor-language {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  grid-row: 2;
  z-index: 4;
  background: var(--back-editor);
}

#beyond-editor .container-editor #editor-actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  grid-row: 1;
  grid-column: 1/4;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px var(--panel-border-color);
  border-bottom-style: dashed;
  background: var(--panel-background);
  overflow-x: auto;
}

#beyond-editor .container-editor #editor-actions .actions-container {
  display: flex;
  gap: 0.3em;
  padding: 0.5em 1em;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#beyond-editor .container-editor #editor-input {
  display: flex;
  flex-direction: row;
  grid-row: 2;
  background: var(--back-editor);
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: stretch;
  max-height: 200px;
  padding: 10px 10px;
}

#beyond-editor .container-editor #editor-flags {
  font-family: var(--font-family);
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  grid-row: 2;
  background: var(--back-editor);
  z-index: 4;
  /* Solo para mostrar los flags a la izquierda no se necesita */
  /* width: 5em; */
}

#beyond-editor div.container-editor #editor-input .input {
  font-family: var(--font-family);
  color: #4b0082;
  padding: 0 10px;
  border: none;
  background: var(--back-editor);
  margin: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  white-space: inherit;
  position: relative;
}

#beyond-editor div.container-editor .input,
#beyond-editor .container-editor #errorDef {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  font-variant-ligatures: none;
}

#beyond-editor .container-editor #errorDef {
  white-space: pre;
  line-height: normal;
  font-size: 0.85em;
}

#beyond-editor .container-editor #editor-actions #shareIt {
  font-size: 0.6em;
  font-weight: bold;
  background: #e9e9e9;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: inset 0.2rem 0.2rem 0.8rem #fafafa,
    inset -0.2rem -0.2rem 0.8rem #7b7b7b, inset -1px -1px 2px #838383,
    1px 1px 0.5px #838383, 3px 3px 5px #838383, -0.2rem -0.2rem 0.5rem #ffffff;
}

#beyond-editor .container-editor #editor-actions #shareIt:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b,
    inset -0.2rem -0.2rem 0.5rem #fafafa, -0.2rem -0.2rem 0.5rem #ffffff6f;
}

#beyond-editor div.container-editor #flagBox {
  width: 3em;
  /* border: 1px solid; */
  cursor: pointer;
}

#beyond-editor div.container-editor #flagBox:active {
  width: 3em;
  border: 1px solid;
  cursor: pointer;
}

#beyond-editor div.container-editor #flagBox #flags {
  opacity: 0;
}

#beyond-editor div.container-editor #flagBox:active #flags {
  opacity: 1;
}

/* START FLAGS CHECKBOX */

.checkbox input {
  display: none;
}

.checkbox__1 {
  /* display: inline-flex;
    justify-content: center; */
  height: 35px;
  width: 35px;
  /* margin: 10px;
    margin-left: 0; */
}

.checkbox__1 label > * {
  user-select: none;

  background: linear-gradient(0deg, #03a9f4, #ff0058);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: #47474700;
}

.checkbox__1 input:checked ~ label > * {
  /* color: white;
    -webkit-text-fill-color: white;
    text-shadow: 0 0 10px #ffffff, -1px 0px 5px #03a9f4, 1px 0px 5px #ff0058; */
  text-shadow: 0 0 20px #00000087;
}

.checkbox__1 label {
  background: var(--back-editor);
  box-shadow: inset 0.2rem 0.2rem 0.8rem #fafafa,
    inset -0.2rem -0.2rem 0.8rem #7b7b7b, inset -1px -1px 2px #838383,
    1px 1px 0.5px #838383, 3px 3px 5px #838383, -0.2rem -0.2rem 0.5rem #ffffff;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  padding: 2px;
  width: 30px;
  text-align: center;
  height: 30px;
  /* transition: 0.3s ease; */
  justify-content: center;
  align-items: flex-end;
}

/* .checkbox__1 label:hover i { */
/* color: white; */
/* text-shadow: 0 0 10px white, 0 0 2px #c81aff, 0 0 10px #c81aff, 0 0 10px #c81aff, 0 0 20px #c81aff; */
/* text-shadow: 0 0 10px #ffffff, -1px 0px 2px #03a9f4, 1px 0px 2px #ff0058, -1px 0px 4px #03a9f4, 1px 0px 4px #ff0058, -4px 0px 8px #03a9f4, 4px 0px 8px #ff0058; */
/* -webkit-text-fill-color: white; */
/* } */

.checkbox__1 label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: 1;
  color: #313030c2;
  /* transition: 0.3s ease; */
}

.checkbox__1 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b,
    inset -0.2rem -0.2rem 0.5rem #fafafa;
  font-weight: 500;
  font-size: 85% !important;
}

.checkbox__3 {
  height: 35px;
  width: 35px;
}

.checkbox__3 label > * {
  user-select: none;
  background: #47474700;
}

/* .checkbox__3 input:checked~label>* { */
/* color: white;
    -webkit-text-fill-color: white;
    text-shadow: 0 0 10px #ffffff, -1px 0px 5px #03a9f4, 1px 0px 5px #ff0058; */
/* text-shadow: 0 0 20px #00000087; */
/* } */

.checkbox__3 label {
  background: var(--back-editor);
  box-shadow: inset 0.2rem 0.2rem 0.8rem #fafafa,
    inset -0.2rem -0.2rem 0.8rem #7b7b7b, inset -1px -1px 2px #838383,
    1px 1px 0.5px #838383, 3px 3px 5px #838383, -0.2rem -0.2rem 0.5rem #ffffff;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  padding: 2px;
  width: 30px;
  text-align: center;
  height: 30px;
  /* transition: 0.3s ease; */
  justify-content: center;
  align-items: flex-end;
}

.checkbox__3 label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  line-height: 1;
  color: #313030c2;
  /* transition: 0.3s ease; */
}

.checkbox__3 input:active ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b,
    inset -0.2rem -0.2rem 0.5rem #fafafa;
  font-weight: 500;
  font-size: 85% !important;
}

.checkbox__3 input:checked ~ label {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b,
    inset -0.2rem -0.2rem 0.5rem #fafafa;
  font-weight: 500;
  font-size: 85% !important;
}

.checkbox__3 input:checked ~ label span {
  background: linear-gradient(0deg, #03a9f4, #ff0058);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: #47474700;
}

/* END FLAGS CHECKBOX */

#beyond-editor div.container-editor #input {
  display: table;
  width: 100%;
}

/* ERROR BOX */

#editor-terminal {
  grid-row: 3;
  grid-column: 1/4;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #242424;
  max-width: 100%;
}

#terminal-stats {
  padding: 0 16px;
  color: grey;
  border-bottom: 2px solid #ffffff17;
  background: #282828;
}

#terminal-stats .stats {
  font-size: 0.8em;
}

.stats {
  margin-left: 0.5em;
}

#terminal-error {
  padding: 16px;
  overflow: auto;
}

#terminal-error #errorDef {
  height: 4em;
  margin-top: 0em;
  margin-left: 1em;
  overflow-x: hidden;
  overflow-y: auto;
  color: #ff0058;
}

#terminal-error.correct-syntax #errorDef {
  color: grey;
}

/* ERROR BOX END */

#beyond-editor #actionButtons {
  width: 100%;
  display: flex;
  grid-column-gap: 10px;
  margin: 2em 0 0;
  padding: 0 0 0.5em 0;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  background: var(--panel-background);
  box-shadow: 0 0 1rem var(--dark-soft);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}


/*  BUTTONS  */

.btn {
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  justify-self: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn__primary {
  color: white;
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #242424;
  background: #4b0082;
  /* box-shadow: 5px 5px 10px #101010, -3px -3px 10px #999999; */
  box-shadow: inset 0.2rem 0.2rem 0.8rem #464646,
    inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a,
    -0.2rem -0.2rem 0.5rem #6c6c6c;
  box-shadow: 0 6px 0 #260042, 0 10px 10px -5px black;
  border: #00000073 2px solid;
  transition: none;
}

.btn__primary:hover {
  /* color: #eee; */
  color: #f1e1ff;
  color: white;
  text-shadow: 0 0 10px #e9cff6, 0 0 5px #c81aff, 0 0 10px #c81aff,
    0 0 20px #c81aff;
  text-shadow: 0 0 10px #ffffff, -1px 0px 2px #03a9f4, 1px 0px 2px #ff0058,
    -1px 0px 4px #03a9f4, 1px 0px 4px #ff0058, -4px 0px 8px #03a9f4,
    4px 0px 8px #ff0058;
  /* box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem transparent, -0.2rem -0.2rem 0.5rem transparent; */
  /* box-shadow: none; */
  background: #4b0082;
  /* border: 1px solid #222; */
  /* transform: translateY(6px); */
}

.btn__primary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #0a0a0a,
    inset -0.2rem -0.2rem 0.5rem #464646;
  box-shadow: none;
  background: #4b0082;
  transform: translateY(6px);
}

.btn__primary:disabled {
  box-shadow: none;
  background: #4c4c4c;
  transform: translateY(6px);
}

.btn__primary:disabled:hover {
  text-shadow: none;
  cursor: not-allowed;
}

.btn__secondary {
  /* color: #9baacf; */
  color: #f1e1ff;
  text-shadow: 0 0 10px #e9cff6, 0 0 5px #c81aff, 0 0 10px #c81aff,
    0 0 20px #c81aff;
}

.btn__secondary:hover {
  color: #6d5dfc;
}

.btn__secondary:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
}

/* .btn p { */

/* font-size: 1.6rem; */

/* } */

.button-panel {
  font-family: var(--font-family);
  user-select: none;
  outline: none;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  margin: 10px;
  margin-left: 0;
  padding: 12px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 140px;
  height: 40px;
  /* background: #40B0EF; */
  /* background-image: #274d7e; */
  border-radius: 12px;
  text-decoration: none;
}

.button-panel:hover {
  color: #fff;
  /* font-size: 95%; */
  /* background: #3498DF; */
  /* text-decoration: none; */
}

/* .button-panel:active {
    font-size: 95%;
} */

footer {
  /* z-index: 200; */
  /* height: 150px; */
  box-shadow: inset 0 0 40px 20px #fffefe1a, 0 0 15px 10px #0000001a;
  background: rgb(0 0 0 / 50%);
}

footer div.container-social {
  text-align: center;
  border-top: 0.1em solid #ffffff21;
  display: flex;
  font-size: 1.2em;
  font-style: italic;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-gap: 2em;
  padding: 2em 0;
}

footer,
footer a {
  color: #eef;
}

.exportCanvas {
  display: block;
  margin: 0 auto;
  image-rendering: pixelated;
}

/* ==================== */
/* LANGUAGE SELECTOR */
/* ==================== */

/* Reset Select */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
  display: none;
}

/* Custom dropdown */

.custom-dropdown {
  margin: 10px;
  margin-left: 0;
  position: relative;
  display: flex;
  width: 200px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  border-radius: 12px;
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #242424;
  box-shadow: inset 0.2rem 0.2rem 0.8rem #464646,
    inset -0.2rem -0.2rem 0.8rem #0c0c0c, 0.3rem 0.3rem 0.5rem #0a0a0a,
    -0.2rem -0.2rem 0.5rem #6c6c6c;
  border-top-color: #373737;
  border-left-color: #373737;
  border-bottom-color: #3b3b3b;
  border-right-color: #3b3b3b;
}

.custom-dropdown select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  /* background: linear-gradient(145deg, #3b3b3b, #242424); */
  background: #242424;
  background-image: none;
  text-overflow: "";
  /* hide default arrow in chrome OSX */
  font-size: medium;
  flex: 1;
  padding: 0 20px;
  color: #fff;
  cursor: pointer;
}

.custom-dropdown select option {
  background: #3b3b3b;
}

.custom-dropdown select option:hover {
  background: black !important;
}

select:focus > option:checked {
  background: #000 !important;
}

/* .custom-dropdown select {
    background-color: #353535;
    color: #fff;
    font-size: inherit;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
} */

/* Arrow */

.custom-dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  /* background: #3b3b3b; */
  cursor: pointer;
  pointer-events: none;
  transition: text-shadow 0.5s, color 0.5s;
}

/* Transition */

.custom-dropdown:hover::after {
  color: white;
  text-shadow: 0 0 10px #e9cff6, 0 0 5px #c81aff, 0 0 10px #c81aff,
    0 0 20px #c81aff;
}

/* .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  } */

/*  Custom dropdown arrow */

/* .custom-dropdown::after { 
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  } */

/*  Custom dropdown arrow cover */

/* .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  } */

.custom-dropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

/* .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  } */

/* Demo */

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */

/* GRAPH LOADER */

#graph-loader {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
  background: var(--back-editor);
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: calc(50% - 10px - 100px / 2);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  cursor: wait;
  backdrop-filter: saturate(1);
  transition: backdrop-filter 0.3s linear, opacity 0.5s linear;
}

#graph-loader.loading {
  opacity: 1;
  backdrop-filter: saturate(0.2);
}

#graph-loader .progress {
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  height: 10px;
  /* border-bottom-right-radius: 20px; */
  flex: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: #03a9f4;
  transition: transform 0.2s ease-out;
  animation: animateBackground 2s linear infinite;
}

#graph-loader.loading .progress {
  background: linear-gradient(
    90deg,
    #03a9f4 0%,
    #ff0058 33%,
    #03a9f4 66%,
    #ff0058 100%
  );
  background-size: 300% 100%;
  animation: animateBackground 2s linear infinite;
}

#graph-loader.loading .progress span {
  background: linear-gradient(
    90deg,
    #03a9f4 0%,
    #ff0058 33%,
    #03a9f4 66%,
    #ff0058 100%
  );
  background-size: 300% 100%;
  width: 100%;
  height: 100%;
  display: block;
  transition: width 0.2s ease-out;
  animation: animateBackground 2s linear infinite;
  flex: none;
}

#graph-loader .progress span:nth-child(1) {
  filter: blur(5px);
}

#graph-loader .progress span:nth-child(2) {
  filter: blur(10px);
  margin-left: -100%;
}

#graph-loader .progress span:nth-child(3) {
  filter: blur(20px);
  margin-left: -100%;
}

@keyframes animateBackground {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

#graph-loader .spinner {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: calc(50% - 100px / 2);
}

#graph-loader.loading .spinner span {
  --border-pos: 5px;
  --border-neg: -5px;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* border: 5px solid transparent; */
  animation: rotate 5s linear infinite;
}

#graph-loader.loading .spinner span:nth-child(1) {
  box-shadow: 0 var(--border-pos) 0 0 #ff005840,
    0 var(--border-neg) 0 0 #03a9f440, var(--border-pos) 0 0 0 #ff005840,
    var(--border-neg) 0 0 0 #03a9f440,
    var(--border-pos) var(--border-neg) 0 0 #c39cd080,
    var(--border-neg) var(--border-pos) 0 0 #c39cd080,
    var(--border-pos) var(--border-pos) 0 0 #ff005878,
    var(--border-neg) var(--border-neg) 0 0 #03a9f478;
}

#graph-loader .spinner:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  animation: unset;
  box-shadow: inset 0 0 20px -1px white, 0px 0px 20px 10px white;
  background: linear-gradient(45deg, #03a9f4 0%, #ff0058 100%);
  transition: border-radius 0.2s linear;
}

#graph-loader.loading .spinner:after {
  animation: morph 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0% {
    transform: rotate(0deg);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  25% {
    transform: rotate(90deg);
    border-radius: 70% 30% 70% 30% / 70% 30% 70% 30%;
  }

  50% {
    transform: rotate(180deg);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }

  75% {
    transform: rotate(270deg);
    border-radius: 30% 70% 30% 70% / 30% 70% 30% 70%;
  }

  100% {
    transform: rotate(360deg);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

/* COPY IFRAMES */

/*  DUE TO A BUG FOR OVERFLOW VISIBLE INSIDE CUSTOM HTML */

.swal2-title {
  padding: 0.8em 0.5em 0;
}

.swal2-html-container {
  overflow: unset;
}

.container-copy {
  margin-bottom: 1em;
}

.copy-container {
  background: #ffffff1f;
  position: relative;
}

.copy-content {
  padding: 1em;
  overflow-y: scroll;
  height: 4em;
  text-align: left;
}

.wrap-copy-btn {
  position: absolute;
  top: 0.5em;
  right: 1em;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.2s, opacity 0.5s, visibility 0s 0.8s;
}

.copy-container:hover .wrap-copy-btn,
.copy-container.copied .wrap-copy-btn {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s;
}

button.copy-btn:hover {
  transform: scale(1.1);
}

.copy-container.copied .wrap-copy-btn button.copied:before {
  content: "Copied";
  position: absolute;
  top: -45px;
  right: -15px;
  width: max-content;
  background: linear-gradient(180deg, #5c81dc91, #5c81dc);
  color: white;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 15px;
  display: none;
  pointer-events: none;
}

.copy-container.copied .wrap-copy-btn button.copied:after {
  content: "";
  position: absolute;
  top: -15px;
  right: 12px;
  width: 10px;
  height: 10px;
  background: #5c81dc;
  transform: rotate(45deg);
  display: none;
  pointer-events: none;
}

.copy-container.copied:hover .wrap-copy-btn button.copied:before,
.copy-container.copied:hover .wrap-copy-btn button.copied:after {
  display: block;
}

button.copy-btn.copied span.confetti-container {
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
  left: 45%;
  opacity: 0;
  animation: confetti-container 0.5s;
}

button.copy-btn.copied span.confetti-container .confetti {
  position: absolute;
  width: 0.2em;
  height: 0.4em;
  background: #5c81dc;
  animation: confetti 0.5s;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(1) {
  top: 1em;
  left: 1em;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(2) {
  top: -1em;
  left: -1em;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(3) {
  top: -1em;
  left: 0em;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(4) {
  top: 1em;
  left: 0em;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(5) {
  top: 0em;
  left: 1em;
}

button.copy-btn.copied span.confetti-container .confetti:nth-child(6) {
  top: 0em;
  left: -1em;
}

@keyframes confetti {
  from {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  to {
    opacity: 0;
    transform: rotate(360deg) scale(0);
  }
}

@keyframes confetti-container {
  from {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }

  to {
    transform: rotate(-45deg) scale(2);
  }
}

button.copy-btn {
  position: relative;
  background: #0000009c;
  border: none;
  box-sizing: content-box;
  border-radius: 0.5em;
  padding: 0.25em;
  width: 2em;
  cursor: pointer;
  height: 2em;
}

button.copy-btn > i {
  font-size: 1.5em;
  color: #bcbcbc;
}

button.copy-btn > i.fa-check {
  color: #5c81dc;
}

.anchor-export-img {
  display: inline-block;
  position: relative;
  display: flex;
}

.anchor-export-img > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  transition: color 0.2s, background 0.2s;
}

.anchor-export-img:hover > span {
  background: var(--contrast-soft-background);
  color: var(--black-white);
  font-weight: bold;
}

.anchor-export-img > img {
  width: 100%;
}
