.box2d-object {
	z-index: 100;
	/* height: fit-content !important;
	width: fit-content !important;
	position: absolute !important;
	margin: 0 !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	box-shadow: none !important;
	transition: transform 0s !important; */
}
.segment {
	background: black;
	width: 80px;
	height: 20px;
	position: absolute;
}

canvas {
    position:absolute;
    /*top:80px; 
    right:0;*/
    top: 0px;
    left: 0px;
    
    z-index:10000;
    opacity:.3;
    /*width: 50%;
    height: auto;*/
}

canvas:hover {
    opacity:0.8; 
}