/* @font-face {
    font-family: 'MyWebFont';
    src: url('webfont.eot'); IE9 Compat Modes
    src: url('webfont.eot?#iefix') format('embedded-opentype'), IE6-IE8
    url('webfont.woff2') format('woff2'), Super Modern Browsers
    url('webfont.woff') format('woff'), Pretty Modern Browsers
    url('webfont.ttf') format('truetype'), Safari, Android, iOS
    url('webfont.svg#svgFontName') format('svg'); Legacy iOS
} */
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Thin.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Thin.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Thin.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Thin') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ExtraLight.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ExtraLight.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Light.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Light.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Regular.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Regular.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Medium.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Medium.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-SemiBold.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-SemiBold.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-SemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Bold.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Bold.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
}

/* OBLIQUE */
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ThinOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ThinOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ThinOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ThinOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ThinOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 100;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ExtraLightOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ExtraLightOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ExtraLightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ExtraLightOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ExtraLightOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 200;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-LightOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-LightOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-LightOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-LightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-LightOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-LightOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 300;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Oblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Oblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Oblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Oblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Oblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Oblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 400;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-MediumOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-MediumOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-MediumOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-MediumOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-MediumOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 500;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-SemiBoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-SemiBoldOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-SemiBoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-SemiBoldOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-SemiBoldOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 600;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-BoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-BoldOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-BoldOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 700;
}

/* ITALIC */
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ThinItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ThinItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ThinItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 100;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ExtraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ExtraLightItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ExtraLightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ExtraLightItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-LightItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-LightItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-LightItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Italic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Italic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Italic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-MediumItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-MediumItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-MediumItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-SemiBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-SemiBoldItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-SemiBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-SemiBoldItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-SemiBoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "VictorMono";
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-BoldItalic.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-BoldItalic.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
}


/* OBLIQUE */
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ThinOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ThinOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ThinOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ThinOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ThinOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ThinOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 100;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-ExtraLightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-ExtraLightOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-ExtraLightOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-ExtraLightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-ExtraLightOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-ExtraLightOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 200;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-LightOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-LightOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-LightOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-LightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-LightOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-LightOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 300;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-Oblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-Oblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-Oblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-Oblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-Oblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-Oblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-Oblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 400;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-MediumOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-MediumOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-MediumOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-MediumOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-MediumOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 500;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-SemiBoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-SemiBoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-SemiBoldOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-SemiBoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-SemiBoldOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-SemiBoldOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 600;
}
@font-face {
    font-family: "VictorMono Oblique";
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('../fonts/VictorMono/EOT/VictorMono-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/VictorMono/WOFF2/VictorMono-BoldOblique.woff2') format('woff2'), /* Super Modern Browsers */
    url("../fonts/VictorMono/WOFF/VictorMono-BoldOblique.woff") format('woff'), /* Pretty Modern Browsers */
    url('../fonts/VictorMono/TTF/VictorMono-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/VictorMono/OTF/VictorMono-BoldOblique.otf') format('opentype'),
    url('../fonts/VictorMono/SVG/VictorMono.svg#VictorMono-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: oblique;
    font-weight: 700;
}