.control-panel {
	pointer-events: none;
	z-index: 10;
	display: flex;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	height: 20%;
	column-gap: 10px;
	justify-content: space-between;
	align-items: flex-end;
}

#visualizer-graph .control-panel {
	opacity: 0;
	transition: opacity 0.5s ease, transform 0.5s ease;
	transform: translateY(85px);
}
#visualizer-graph:hover .control-panel {
	opacity: 1;
	transform: translateY(-15px);
}