#visualizer-graph {
    cursor: grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#visualizer-graph:active, div#visualizer-graphView:active {
    cursor: grabbing;
}


#visualizer-graph {
    max-height: 50vw;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    border-radius: unset !important;
    background: transparent;
    border: none;
    box-shadow: none;
}

#visualizer-graph {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#visualizer-graph:before {
    content: "";
    z-index: 0;
    width: 100%;
    height: 100%;
    background: var(--back-editor);
    pointer-events: none;
    position: absolute;
    border-radius: 10px;
}

#visualizer-graph:after {
    content: "";
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    border-radius: 10px;
    box-shadow: inset 4px 4px 5px var(--shadow-dark), inset -10px -10px 15px -15px var(--shadow-light), 10px 10px 15px -15px var(--shadow-dark);
}

#visualizer-graph > *, #visualizer-graph i.disabledJS-JS, #visualizer-graph:before, #visualizer-graph:after {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

#visualizer-graph>* {
    flex: none;
    position: relative;
    width: 100%;
}

#visualizer-graph>div:not(:nth-child(1)) {
    margin-left: -100%;
}

#visualizer-graphView {
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    border-radius: unset !important;
    position: relative;
    background: transparent;
    z-index: 4;
}

#visualizer-graphSVG {
    height: 100%;
    width: 100%;
    display: inline;
    min-width: inherit;
    max-width: inherit;
    min-height: inherit;
    max-height: inherit;
    background: var(--back-editor);
    border-radius: 10px;
    /* border-top-right-radius: unset; */
    /* border-top-left-radius: unset; */
    /* Solve issue add Raphael a default position */
    top: 0 !important;
    left: 0 !important;
}