#visualizer-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 400px;
    height: 80vh;
    max-height: 500px;
    box-shadow: none;
    border: none;
    background: transparent;
    margin: 0;
    overflow: visible;
    align-items: stretch;
}

#visualizer-graph>*:not(.control-panel), #visualizer-graph:after, #visualizer-graph:before {
    height: calc(100% - 8em) !important;
    min-height: calc(100% - 8em) !important;
    border-radius: unset !important;

    transition: height 0.5s ease;
}

#visualizer-graph .control-panel {
    opacity: 1;
    transform: unset;
    transition: none;
    pointer-events: none;
    z-index: 10;
    display: flex;
    top: calc(100% - 8em);
    position: relative;
    margin-left: 10px;
    height: 8em;
    column-gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    /* background: linear-gradient(145deg, #3b3b3b, #242424); */
    background: #242424;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1em;
    box-sizing: border-box;

    transition: transform 0.5s ease;
}

#visualizer-graph:hover .control-panel {
    opacity: 1;
    /* transition: none; */
    transform: unset;
}

#visualizer-graph .control-panel .hide-button  {
    color: white;
    display: block;
    position: absolute;
    top: -0.8em;
    width: 100%;
    left: 0;
    height: 1em;
    background: #1f1f1f;
    text-align: center;
    pointer-events: all;

    transform: none;
}

#visualizer-graph {
    overflow: hidden;
}

#visualizer-graph.hide-control>*:not(.control-panel), #visualizer-graph.hide-control:after, #visualizer-graph.hide-control:before {
    height: calc(100%) !important;
    max-height: calc(100%) !important;
}

#visualizer-graph.hide-control .control-panel {
    transform: translateY(calc(100% - 0.4em)) !important;
}

#visualizer-graph.hide-control .control-panel .hide-button {
    transform: rotate(180deg);
}


#visualizer-graph #graph-loader {
    height: calc(80% - 20px);
    min-height: calc(80% - 20px);
}

#visualizer-graphView {
    width: 100%;
    height: calc(80% - 20px);
    min-height: calc(80% - 20px);
    /* box-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c; */
    /* display: inline; */
}

#visualizer-graphSVG {
    overflow: hidden;
    position: static !important;
    /* DISABLED SCROLL WHOLE PAGE */
    touch-action: none;
    top: 0px !important;
    height: 100%;
    width: 100%;
    display: inline;
    border-radius: 10px;
    background: #e2e2e2;
}

#thumbViewContainer {
    position: static;
    display: flex;
    pointer-events: all;
    flex-flow: row nowrap;
    font-size: 0px;
    height: calc(100% + 20px);
    width: calc(30% + 20px);
    margin: 0;
    /* box-shadow: 6px 6px 12px #00000063, -6px -6px 12px #00000063; */
    transition: all 0.2s linear;
    border: unset;
    /* background: radial-gradient(circle at 50% 50%, #e2e2e2a8 70%, #e2e2e236); */
    border-radius: 10px;
    background: rgb(255 255 255 / 20%);
    box-shadow: inset 0 0 10px 0px #ffffff80, 0 0 5px 0px #ffffff80;
}

.thumbViewClass {
    position: static;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#masked {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    width: 100%;
    flex: none;
    border-radius: 10px;
}

#scopeContainer {
    z-index: 120;
    box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -100%;
    border-radius: 10px;
}

#thumbView {
    z-index: 110;
    /* background: white; */
    box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -100%;
    border-radius: 10px;
}

#thumbViewContainer:hover {
    box-shadow: none;
}

.icon {
    /* background: rgb(255 255 255 / 30%); */
    /* box-shadow: inset 0 0 10px 0px #ffffff4d, 0 0 5px 0px #ffffffb3; */
    /* box-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c; */
    background: #00000042;
    box-shadow: none;
}

.icon svg circle {
    fill: white !important;
}

.control-zoom {
    column-gap: 10px;
    margin: 0;
}

.control-zoom:hover {
    column-gap: 10px;
}

.control-zoom:hover .icon {
    transform: none;
}

.icon:hover {
    /* box-shadow: inset 0 0 20px 0px #efefef, 0 0 15px 0px #ffffff; */
    box-shadow: none;
}

.icon:active {
    /* box-shadow: inset 0 0 20px 0px #efefef, 0 0 15px 0px #ffffff, inset 5px 0px 20px -5px #ff0058, inset -5px 0px 20px -5px #03a9f4; */
    box-shadow: none;
}

.icon#zoom-in:hover {
    transform: none;
    /* margin-right: 0px; */
    margin: 0px;
}

.icon#zoom-out:hover {
    transform: none;
    margin-left: 0px;
    margin-right: 0px;
}

.icon#zoom-reset:hover {
    transform: none;
    margin-left: 0px;
    margin-right: 0px;
}


.icon .lens g.gradient path {
    fill: url(#gradient);;
}
/* 
.icon .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark) !important;
}

.icon .lens g.shine-accent-light path {
    fill: url(#shine-accent-light) !important;
}

.icon:hover .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark) !important;
}

.icon:hover .lens g.shine-accent-light path {
    fill: url(#shine-accent-light) !important;
}

.icon:active .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark-hover) !important;
}

.icon:active .lens g.shine-accent-light path {
    fill: url(#shine-accent-light-hover) !important;
}

.icon .lens g.gradient path {
    fill: url(#gradient) !important;
}

.icon:hover .lens g.gradient path {
    fill: url(#gradient) !important;
}

.icon:active .lens g.gradient path {
    fill: url(#gradient-hover) !important;
} */

.json-container {
    margin-top: 40px;
}