#thumbSVG {
	height: 100%;
	width: 100%;
	background: var(--back-editor);
}

#thumbSVG .svg-pan-zoom_viewport {
	transition: transform 0.1s linear;
}

#thumbViewContainer:hover {
	/* transform: scale(1.4);
	transform-origin: left bottom; */
	box-shadow: 0 0 32px 0px var(--black-white), 5px 8px 32px -5px var(--gradient-color-soft-1), -5px 8px 32px -5px var(--gradient-color-2);
}

#thumbViewContainer {
	pointer-events: all;
	/* 	Para arreglar que los divs tengan separacion */
	font-size: 0px;
	/* position: relative; */
	/* 	top: calc(-20% - 10px); */
	/* 	left: 10px; */
	/* 	margin: 0px; */
	/* height: 100%;
	width: 20%; */
	margin-left: 20px;
	height: 100%;
	max-height: 100%;
	width: 30%;
	max-width: 250px;
	display: flex;
	flex-flow: row nowrap;
	position: static;
	border-radius: 10px;
	box-shadow: 0 8px 32px 0 var(--dark-soft);
	transition: all 0.2s linear;
}

.thumbViewClass {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#thumbView {
	z-index: 110;
	/* background: white; */
	box-sizing: border-box;
	border-radius: 10px;
	/* Para uso de glassmorpishm con mask y el parent div con border-radius */
	width: 100%;
	flex: none;
	margin-left: -100%;
}

#masked {
	width: 100%;
	height: 100%;
	z-index: 130;
	position: relative;
	pointer-events: none;
	box-sizing: border-box;
	flex: none;
	border-radius: 10px;
}

/* slightly transparent fallback */

#masked {
	background-color: var(--contrast-traslucent-background);
}

/* if backdrop support: very transparent and blurred */

@supports (-webkit-backdrop-filter: blur(5px)) {
	#thumbView {
		background-color: transparent;
		-webkit-backdrop-filter: blur(5px);
		backdrop-filter: blur(5px);
	}
	#masked {
		-webkit-backdrop-filter: blur(2px);
		backdrop-filter: blur(2px);
	}
}

@supports (backdrop-filter: blur(5px)) {
	#thumbView {
		background-color: transparent;
		backdrop-filter: blur(5px);
	}
	#masked {
		backdrop-filter: blur(2px);
	}
}

#scope {
	fill: none !important;
	stroke: none !important;
	/* stroke: white !important;
	stroke-opacity: 0.5 !important;
	stroke-width: 1px !important; */
}

#scopeContainer {
	z-index: 120;
	/* top: -100%; */
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	flex: none;
	margin-left: -100%;
}