.control-zoom {
	display: flex;
	column-gap: 22.5px;
    margin-right: 20px;
	pointer-events: none;
	
	transition: column-gap 0.2s linear;
}
.control-zoom:hover {
  column-gap: 0px;
}
.control-zoom:hover .icon{
	transform: translateY(10%) scale(0.8);
}
.icon:hover {
	z-index: 20;
	box-shadow: inset 0 0 10px 0px var(--black-white), 0 0 32px 0px var(--black-white), 5px 8px 32px -5px var(--gradient-color-1), -5px 8px 32px -5px var(--gradient-color-2);
}

.icon:active {
	box-shadow: inset 0 0 10px 5px var(--black-white) 0 0 32px 0px var(--black-white), 5px 8px 32px -5px var(--gradient-color-1), -5px 8px 32px -5px var(--gradient-color-2);
}
.icon#zoom-in:hover{
	transform: scale(2);
    margin: 0 22.5px;
}
.icon#zoom-out:hover{
	transform: scale(2);
    margin: 0 22.5px;
}
.icon#zoom-reset:hover{
	transform: scale(2);
    margin: 0 22.5px;
}

.icon {
	cursor: pointer;
	pointer-events: auto;
	transition: box-shadow 0.2s linear, margin 0.2s linear, transform 0.2s linear;
	
	width: 45px;
	height: 45px;
	right: 10px;
	border-radius: 200px;
	box-shadow: inset 0 0 15px -2px var(--black-white), 0 8px 32px 0 var(--dark-soft);
	background: linear-gradient(315deg, var(--panel-background-grad-1), var(--panel-background-grad-2));
	transform-origin: bottom;
}

.icon svg {
	width: 100%;
	height: 100%;
	filter: unset;
}

/* .icon .lens g, .icon .lens g path {
	transition: fill 0.5s ease;
} */

.icon:hover {
	cursor: pointer;
}
.icon .lens g.shine-accent-light {
	transform: translate(-4px, -4px);
}
.icon .lens g.shine-accent-dark {
	transform: translate(4px, 4px);
}
/* 
.icon .lens g.shine-accent-dark path{
	fill: url(#shine-accent-dark) !important;
}
.icon .lens g.shine-accent-light path{
	fill: url(#shine-accent-light) !important;
}

.icon:hover .lens g.shine-accent-dark path{
	fill: url(#shine-accent-dark-hover) !important;
}
.icon:hover .lens g.shine-accent-light path{
	fill: url(#shine-accent-light-hover) !important;
}

.icon .lens g.shine path{
	fill: url(#shine) !important;
}
.icon:hover .lens g.shine path{
	fill: url(#shine-hover) !important;
}

.icon .lens g.shine-accent-dark path{
	fill: url(#shine-accent-dark) !important;
}
.icon .lens g.shine-accent-light path{
	fill: url(#shine-accent-light) !important;
}

.icon:hover .lens g.shine-accent-dark path{
	fill: url(#shine-accent-dark-hover) !important;
}
.icon:hover .lens g.shine-accent-light path{
	fill: url(#shine-accent-light-hover) !important;
}
*/
.icon .lens g.gradient path{
	/* fill: url(#gradient) !important; */
	fill: var(--font-color);
}
.icon:hover .lens g.gradient path{
	fill: url(#gradient-accent) !important;
}

/* .icon svg.lens g.main g path {
	filter: url(#transparent);
} */

.icon .lens g.gradient{
	/* filter: url(#transparent); */
	transform: none;
	/* 	transform-origin: center; */
	
}