.control-panel {
    pointer-events: none;
    z-index: 10;
    display: flex;
    top: 80%;
    position: inherit;
    margin-left: 10px;
    height: 20%;
    column-gap: 10px;
    justify-content: space-between;
    align-items: flex-end;
}

#graphCt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    box-shadow: none;
    border: none;
    background: transparent;
    margin: 0;
    overflow: visible;
    align-items: flex-start;
}

#graphCt .control-panel {
    opacity: 1;
    transition: none;
    transform: unset;
}

#graphCt:hover .control-panel {
    opacity: 1;
    transition: none;
    transform: unset;
}

#graphCt #graph-loader {
    height: calc(80% - 20px);
    min-height: calc(80% - 20px);
}

#graphCtView {
    width: 100%;
    height: calc(80% - 20px);
    min-height: calc(80% - 20px);
    /* box-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c; */
    /* display: inline; */
    border-radius: 10px;
    background: #e2e2e2;
}

#graphCtSVG {
    overflow: hidden;
    position: static !important;
    top: 0px !important;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: inline;
}

#thumbViewContainer {
    position: static;
    display: flex;
    pointer-events: all;
    flex-flow: row nowrap;
    font-size: 0px;
    height: calc(100% + 20px);
    width: calc(30% + 20px);
    /* box-shadow: 6px 6px 12px #00000063, -6px -6px 12px #00000063; */
    transition: all 0.2s linear;
    border: unset;
    /* background: radial-gradient(circle at 50% 50%, #e2e2e2a8 70%, #e2e2e236); */
    border-radius: 10px;
    background: rgb(255 255 255 / 20%);
    box-shadow: inset 0 0 10px 0px #ffffff80, 0 0 5px 0px #ffffff80;
}

.thumbViewClass {
    position: static;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#masked {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    width: 100%;
    flex: none;
    border-radius: 10px;
}

#scopeContainer {
    z-index: 120;
    box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -100%;
    border-radius: 10px;
}

#thumbView {
    z-index: 110;
    /* background: white; */
    box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -100%;
    border-radius: 10px;
}

#thumbViewContainer:hover {
    width: 40%;
    height: 180%;
}

.icon {
    background: rgb(255 255 255 / 30%);
    box-shadow: inset 0 0 10px 0px #ffffff4d, 0 0 5px 0px #ffffffb3;
    /* box-shadow: 0.3rem 0.3rem 0.5rem #0a0a0a, -0.2rem -0.2rem 0.5rem #6c6c6c; */
}
.icon svg circle {
    fill: white !important;
}
.control-zoom {
    column-gap: 10px;
}

.control-zoom:hover {
    column-gap: 10px;
}

.control-zoom:hover .icon {
    transform: none;
}

.icon:hover {
    box-shadow: inset 0 0 20px 0px #37c1ff, 0 0 15px 0px #b0e7ff;
}

.icon:active {
    box-shadow: inset 0 0 20px 0px #37c1ff, 0 0 15px 0px #b0e7ff;
}


.icon#zoom-in:hover {
    transform: none;
    margin-right: 0px;
}

.icon#zoom-out:hover {
    transform: none;
    margin-left: 0px;
    margin-right: 0px;
}

.icon#zoom-reset:hover {
    transform: none;
    margin-left: 0px;
    margin-right: 0px;
}
/* 
.icon .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark) !important;
}

.icon .lens g.shine-accent-light path {
    fill: url(#shine-accent-light) !important;
}

.icon:hover .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark) !important;
}

.icon:hover .lens g.shine-accent-light path {
    fill: url(#shine-accent-light) !important;
}

.icon:active .lens g.shine-accent-dark path {
    fill: url(#shine-accent-dark-hover) !important;
}

.icon:active .lens g.shine-accent-light path {
    fill: url(#shine-accent-light-hover) !important;
}

.icon .lens g.gradient path {
    fill: url(#gradient) !important;
}

.icon:hover .lens g.gradient path {
    fill: url(#gradient) !important;
}

.icon:active .lens g.gradient path {
    fill: url(#gradient-hover) !important;
} */


.json-container {
    margin-top: 40px;
}