#thumbSVG {
	height: 100%;
	width: 100%;
	/* background: #e2e2e2; */
}

#thumbSVG .svg-pan-zoom_viewport{
	transition: transform 0.1s linear;
}

#thumbViewContainer:hover {
    width: 40%;
	height: 140%;
}

#thumbViewContainer {
	pointer-events: all;

	/* 	Para arreglar que los divs tengan separacion */
	font-size: 0px;
	/* position: relative; */
	/* 	top: calc(-20% - 10px); */
	/* 	left: 10px; */
	/* 	margin: 0px; */
	height: 100%;
	width: 20%;
	/* border: 2px solid black; */
	/* box-shadow: 6px 6px 12px #00000063, -6px -6px 12px #00000063; */
	
	transition: all 0.2s linear;

    /* background: radial-gradient(circle at 50% 50%, #e2e2e2a8 70%, #e2e2e236); */
    border-radius: 10px;

	box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    border: 1px solid rgba( 255, 255, 255, 0.18 );


	display: flex;
    flex-flow: row nowrap;
	position: static;
}
.thumbViewClass {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}


#thumbView {
    background-color: rgba(255, 255, 255, .5);
}

/* if backdrop support: very transparent and blurred */

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(1px))) {
    #thumbView {
        background-color: transparent;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

#thumbView {
    z-index: 110;
    /* background: white; */
    box-sizing: border-box;
    border-radius: 10px;

	/* Para uso de glassmorpishm con mask y el parent div con border-radius */
	width: 100%;
    flex: none;
    margin-left: -100%;
}

#masked {
	width: 100%;
	height: 100%;
	z-index: 130;

	position: relative;
	pointer-events: none;

    box-sizing: border-box;
    flex: none;
	border-radius: 10px;
}

/* slightly transparent fallback */
#masked {
  background-color: rgba(255, 255, 255, .5);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(1px))) {
  #masked {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

#scope {
	fill: none !important;
	stroke: white !important;
    stroke-opacity: 0.5 !important;
    stroke-width: 1px !important;
}

#scopeContainer {
	z-index: 120;
	/* top: -100%; */

	border-radius: 10px;

	box-sizing: border-box;
    width: 100%;
    flex: none;
    margin-left: -100%;
}