/* VISUAL STYLE */
#editor-flags #container-input * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#editor-flags #container-input {
    height: 2em;
    width: 2em;
    grid-row-gap: 5px;
    background: var(--back-editor);
    border-radius: 50%;
    box-shadow: inset 0.2rem 0.2rem 8px var(--shadow-inset-light-neuro), inset -0.2rem -0.2rem 8px var(--shadow-inset-dark-neuro), 0.3rem 0.3rem 0.5rem var(--shadow-dark-neuro), -0.2rem -0.2rem 8px var(--shadow-light-neuro);
    transition: transform 0.5s;
    position: relative;
}

#container-show {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#overlay-show {
    content: "";
    position: absolute;
    width: 2em;
    height: calc((30px + 5px) * 3 + 10px + 1em);
    top: calc(100% - 1em);
    right: 0;
    background: var(--back-editor);
    border-radius: 0.5em;
    box-shadow: unset;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: top;
    transition: visibility 0s 0.3s, transform 0.3s, box-shadow 0.1s;
}

#editor-flags #container-input:hover #overlay-show,
#container-show:hover~#overlay-show {
    transition: visibility 0s, transform 0.3s, box-shadow 0.1s;
    transform: none;
    visibility: visible;
    box-shadow: 0 0 20px var(--shadow-dark);
}


label.label-input {
    background: var(--back-editor);
    cursor: pointer;
}

#container-values {
    /* Se oculta ya que no aporta mucha mas informacion y queda la interfaz mas limpia */
    display: none;
    width: 3em;
    line-height: 1;
    font-size: 1em;
    height: 1em;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-icon-light), inset -0.2rem -0.2rem 0.5rem var(--shadow-icon-dark);
    border-radius: 0.5em;
    padding: 0.2em 0.5em;
    box-sizing: content-box;
    z-index: -2;
    pointer-events: none;
}

/* FUNCTIONALITY */
#editor-flags #container-input {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 3em 1fr; */
    justify-items: center;
    align-items: center;
    height: 2em;
    justify-content: end;
}

div#container-show {
    grid-row: 1;
    grid-column: 2;
}

#editor-flags #container-input:hover #container-show #input-show, #editor-flags #container-input:has(input:checked) #input-show {
    /* text-shadow: -10px -10px 30px var(--text-highlight-icon); */
    background: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

label.label-input,
input[name="flag"] {
    width: 100%;
    text-align: center;
    grid-column: 2;
}

#editor-flags #container-input:hover label.label-input,
#editor-flags #container-input:hover input[name="flag"]{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0.3s, opacity 0.3s 0.3s;
}

label[for="flag-i"],
input#flag-i {
    grid-row: 2;
}

label[for="flag-m"],
input#flag-m {
    grid-row: 3;
}

label[for="flag-g"],
input#flag-g {
    grid-row: 4;
}

div#container-values {
    grid-row: 1;
}



input[name="flag"] {
    display: none;
}

input[name="flag"],
label.label-input {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.1s;
}

#container-show:hover~input[name="flag"],
#container-show:hover~label.label-input {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0.2s, opacity 0.3s 0.2s;
}

.show-values {
    opacity: 0;
    display: none;
}

#editor-flags #container-input #flag-i:checked~#container-values #check-i,
#editor-flags #container-input #flag-m:checked~#container-values #check-m,
#editor-flags #container-input #flag-g:checked~#container-values #check-g {
    opacity: 1;
    display: inline-block;
}



/* MORE COOL STYLE */

.checkbox__2 {
    /* display: inline-flex;
    justify-content: center; */
    height: 35px;
    width: 35px;
    /* margin: 10px;
    margin-left: 0; */
}

.checkbox__2 label>* {
    user-select: none;
}

.checkbox__2 label>* {
    color: var(--font-soft-color);
}

#editor-flags label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 1;
    color: var(--font-soft-color);
    /* transition: 0.3s ease; */
    box-shadow: inset 0.2rem 0.2rem 0.8rem var(--shadow-inset-light-neuro), inset -0.2rem -0.2rem 0.8rem var(--shadow-inset-dark-neuro), inset -1px -1px 2px var(--shadow-inset-dark-neuro), 1px 1px 0.5px var(--shadow-dark-neuro), 3px 3px 5px var(--shadow-dark-neuro), -0.2rem -0.2rem 0.5rem var(--shadow-light-neuro);
    cursor: pointer;
    position: relative;
    border-radius: 0.5rem;
    width: 30px;
    text-align: center;
    height: 30px;
}

#editor-flags input#flag-g:checked~label[for="flag-g"] span {
    padding-bottom: 4px;
}

#editor-flags input#flag-i:checked~label[for="flag-i"],
#editor-flags input#flag-m:checked~label[for="flag-m"],
#editor-flags input#flag-g:checked~label[for="flag-g"] {
    font-weight: 500;
    font-size: 90% !important;
    /* box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-dark-neuro), inset -0.2rem -0.2rem 0.5rem var(--shadow-light-neuro); */
    box-shadow: none;
    border: 1px solid var(--border-primary-color);
}

#editor-flags input#flag-i:active~label[for="flag-i"],
#editor-flags input#flag-m:active~label[for="flag-m"],
#editor-flags input#flag-g:active~label[for="flag-g"] {
    font-weight: 500;
    font-size: 90% !important;
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-dark-neuro), inset -0.2rem -0.2rem 0.5rem var(--shadow-light-neuro);
    border: 1px solid var(--panel-border-color);
}


#editor-flags input#flag-i:checked~label[for="flag-i"]>*,
#editor-flags input#flag-m:checked~label[for="flag-m"]>*,
#editor-flags input#flag-g:checked~label[for="flag-g"]>* {
    background: linear-gradient(0deg, var(--gradient-color-1), var(--gradient-color-2));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}