.regex-quotes {
  width: 3ch;
  text-align: center;
  color: var(--font-color);
}

#beyond-editor div.container-editor #editor-input .input:focus-within,
#beyond-editor div.container-editor #editor-input .input:active {
  outline: #4b0082 solid 2px;
}

.input {
  overflow-y: auto;
  display: flex;
}

#beyond-editor div.container-editor #editor-input .input > div {
  position: relative;
  width: 100%;
  flex: none;
  margin-left: -100%;
  box-sizing: border-box;
  /* background-color: var(--margin-editor); */
  transition: transform 1s, background 1s, opacity 1s;
}

#beyond-editor div.container-editor #editor-input .input > div:first-child {
  margin: 0;
}

.input-selects {
  background: none;
  padding: 0;
  z-index: 5;
  pointer-events: none;
  min-height: calc(var(--line-height-ratio) * var(--font-size));
}

.input-selects .caret-selection {
  position: absolute;
  left: calc(var(--pos-x) * 1px);
  top: calc(var(--pos-y) * 1px);
  width: calc(var(--size-width) * 1px);
  height: calc(var(--size-height) * 1px);
  background: var(--color-syntax);
  opacity: 0.2;
}

.input-selects.nofocus {
  filter: grayscale(1);
}

.input-carets {
  background: none;
  padding: 0;
  z-index: 6;
  pointer-events: none;
  min-height: calc(var(--line-height-ratio) * var(--font-size));
}

.input-carets .caret {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: calc(var(--line-height-ratio) * var(--font-size));
  left: calc(var(--pos-char) * 1ch - 0.1em / 2);
  top: calc(var(--pos-line) * var(--line-height-ratio) * var(--font-size));
  background: var(--color-caret);
  opacity: 1;
  color: var(--color-caret);
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

.input-carets.nofocus .caret {
  display: none;
}
.input-carets.nofocus .caret.drag {
  display: inline-block;
}

.input-carets.blink .caret {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.input-carets .caret.drag {
  background: linear-gradient(
    var(--color-caret),
    var(--color-caret),
    transparent,
    transparent,
    var(--color-caret),
    var(--color-caret),
    transparent,
    transparent,
    var(--color-caret),
    var(--color-caret),
    transparent,
    transparent,
    var(--color-caret),
    var(--color-caret)
  );
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.input-editor {
  z-index: 2;
  background: transparent;
  pointer-events: none;
}
.input-syntax {
  z-index: 3;
}

/* .input-editor:focus-within,
.input-editor:focus-within + .input-syntax {
    transform: translateX(-10%) rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
    transform-style: preserve-3d;
} */

/* .input-editor:focus-within + .input-syntax {
    opacity: 0.5;
    transform: translate(10%, -80%) rotateX(30deg) rotateY(-45deg) rotateZ(0deg);
} */

.editor::selection,
.syntax::selection,
.syntax *::selection,
.syntax *::selection,
.syntax * *::selection,
.caret::selection {
  /* background: #bcbcbc; */
  background: transparent;
}

.tooltips {
  z-index: 7;
  user-select: none;
  pointer-events: none;
}

.linters {
  color: transparent;
  z-index: 4;
  user-select: none;
  pointer-events: none;
}

.linters .error {
  /* text-decoration: underline red 2px; */
  /* text-decoration-thickness: auto; */
  /* text-decoration-line: underline; */
  /* text-decoration-color: red; */
  /* text-decoration-style: wavy; */
  color: white;
  background: #d93a3a;
  border-radius: 10px;
  min-height: calc(var(--line-height-ratio) * var(--font-size));
  min-width: 1ch;
}

.editor,
.syntax,
.caret,
.linters {
  font-family: VictorMono, monospace;
  font-size: var(--font-size);
  cursor: text;
}

.editor,
.syntax,
.linters {
  line-height: calc(var(--line-height-ratio) * var(--font-size));
  min-height: calc(var(--line-height-ratio) * var(--font-size));
  tab-size: 4;
  -moz-tab-size: 4;

  word-break: break-all;
  /* white-space: break-spaces; */
  white-space: normal;
}

.editor {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  height: max-content;
  outline: none;
  color: transparent;
  background: transparent;
  white-space: break-spaces;
  /* background-clip: text; */
  /* -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: #ffffff00; */
}

.input.no-highlighted .input-editor {
  z-index: 4;
  pointer-events: all;
}

.input.no-highlighted .input-editor .editor {
  /* background-clip: initial;
  -webkit-background-clip: initial;
  -moz-background-clip: initial;
  -webkit-text-fill-color: var(--color-editor); */
  color: var(--color-editor);
}
.input.no-highlighted .input-editor .editor::selection {
  background: var(--color-editor);
}
.input.no-highlighted .input-editor .editor::-moz-selection {
  background: var(--color-editor);
}
.input .input-editor .editor::selection {
  background: transparent;
}
.input .input-editor .editor::-moz-selection {
  background: transparent;
}

.input.no-highlighted .input-syntax .syntax,
.input.no-highlighted .input-syntax .syntax *,
.input.no-highlighted .input-syntax .syntax *:after,
.input.no-highlighted .input-syntax .syntax *:before {
  color: transparent;
  background: transparent;
}

.syntax {
  cursor: text;
  /* background-color: var(--back-editor); */
  color: var(--color-syntax);
}

.syntax *,
.syntax *:after,
.syntax *:before {
  transition: none;
}

/*Estilos de sintaxis*/
.code-inline {
  color: rgb(78, 204, 163);
  background-color: rgba(78, 204, 163, 0.08);
  border-radius: 0.5rem;
  padding: 3px;
}
.code-block {
  background-color: #595959;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
mark {
  background-color: rgba(78, 204, 163, 0.1);
  padding: 0.25rem;
  border-radius: 0.5rem;
}
ins {
  text-decoration: underline;
  text-decoration-color: rgb(78, 204, 163);
}
.a-profile {
  color: #621055;
}
.a-profile:hover {
  color: #ed6663;
  text-decoration: none;
}

.special-chars {
  position: relative;
}
.special-chars:after,
.special-chars:before {
  opacity: 0.4;
}
.special-chars:after {
  text-align: center;
  /* z-index: -1; */
  left: 0;
  top: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.space {
  white-space: break-spaces;
  word-break: break-all;
}
.space:after {
  content: "·";
  width: inherit;
}

.tab {
  white-space: pre-wrap;
}
.tab:after {
  content: "<---";
  direction: rtl;
  /*        >  */
  /*        ⤇  */
  /*        ⭲   */
}

.endline {
  white-space: pre;
  position: inherit;
}
/* .endline.special-chars:after {
} */

/*↲ ⤶ ⤶ ⤦ ⤸ ␍ ␤ ↩ ⏎ */
.endline:before {
  content: "↵";
  /* left: 0; */
  /* top: 0; */
  text-align: center;
  z-index: 1;
  height: inherit;
  position: absolute;
  /* overflow: hidden; */
  white-space: nowrap;
  pointer-events: none;
  /* box-sizing: content-box;*/
}

.no-color:before {
  color: transparent;
}

/* Hihghlights */
.regex .meta {
  font-weight: bold;
}
.regex .assert {
  background: #03c5c845;
  color: #000080;
  font-weight: bold;
}
.regex .AssertBegin {
  background: #4b00823d;
  color: #4b0082;
}

.regex .assert.AssertEnd {
  background: #4b00823d;
  color: #4b0082;
}

.regex .assert.AssertLookahead {
  background: #6495ed75; /* color: #004f72; */
}

.regex .parenthesis {
  color: green;
  font-weight: bold;
}

.regex span.group:hover {
  background: #4df06a0f;
  outline: 2px #00961b8f solid;
}

span.assert.AssertLookahead > .parenthesis {
  color: #004f72;
}

/* metasequence */
.regex .or {
  font-weight: bold;
  color: #c204c2;
}
.regex .charset {
  background: #f47f0859;
  color: #603000;
}

/* char class */
.regex .charset span {
  background: #e0a060;
  color: #302000;
}

/* char class: metasequence */
.regex .charset span {
  color: #cd6e0f;
}

/* char class: range-hyphen */
.regex .g1 {
  background: #00c0004a;
  color: #018f07;
}
/* 
.regex .unicode,
.regex .hexadecimal,
.regex .octal {
  position: relative;
}

.regex .unicode:after,
.regex .hexadecimal:after,
.regex .octal:after {
  content: attr(chars);
  position: absolute;
  top: calc(-2.5ch - 0.1em);
  padding: 0 0.5ch;
  border-radius: 0.5ch;
  left: calc(50% + 0.5ch);
  background: #3b036e;
  color: white;
}
.regex .unicode:before,
.regex .hexadecimal:before,
.regex .octal:before {
  content: "";
  position: absolute;
  top: -0.1em;
  left: calc(50% + 0.5ch + 0.2em);
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid #3b036e;
}
.regex .unicode:before,
.regex .hexadecimal:before,
.regex .octal:before,
.regex .unicode:after,
.regex .hexadecimal:after,
.regex .octal:after {
  opacity: 0;
  transition: opacity 0.2s;
}
.regex .unicode:hover:before,
.regex .hexadecimal:hover:before,
.regex .octal:hover:before,
.regex .unicode:hover:after,
.regex .hexadecimal:hover:after,
.regex .octal:hover:after {
  opacity: 1;
} */

.regex .unicode {
  color: rgb(78, 122, 204);
}
.regex .hexadecimal {
  color: rgb(78, 204, 163);
}
.regex .octal {
  color: rgb(101, 78, 204);
}

/* group: depth 1 */
.regex .g2 {
  background: #c0c00063;
  color: #646402;
}

/* group: depth 2 */
.regex .g3 {
  background: #008000;
  color: #ffffff;
}

/* group: depth 3 */
.regex .g4 {
  background: #808000;
  color: #ffffff;
}

/* group: depth 4 */
.regex .g5 {
  background: #00ff00;
  color: #000000;
}

/* group: depth 5 */
.regex .err {
  background: #ff00004d;
  color: #a50000;
  text-decoration: underline 0.05em red wavy;
}

/* error */
.regex b,
.regex i,
.regex u {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.regex i {
  font-style: italic;
  color: #028061;
}
