#beyond-editor div.container-editor {
    grid-template-columns: 1fr 2fr 1fr;
}

#beyond-editor div.container-editor>div#editor-language {
    grid-row: 1;
    grid-column: 1;
    background: var(--panel-background);
    border-top-left-radius: 10px;
    border-bottom: 2px var(--border-primary-color);
    border-bottom-style: dashed;
}

#beyond-editor .container-editor #editor-actions {
    grid-row: 1;
    grid-column: 2;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

#beyond-editor div.container-editor>div#editor-flags {
    grid-row: 1;
    grid-column: 3;
    background: var(--panel-background);
    border-top-right-radius: 10px;
    border-bottom: 2px var(--border-primary-color);
    border-bottom-style: dashed;
    justify-content: center;
}

#beyond-editor div.container-editor>div#editor-input {
    grid-row: 2;
    grid-column: 1/4;
}

#editor-terminal {
    grid-column: 1/4;
}


/* FLAGS */
#editor-flags #container-input {
    grid-template-columns: 1fr;
}
#beyond-editor .container-editor #editor-flags {
    width: unset;
}
#editor-flags #container-input #container-values {
    display: none;
}