#beyond-editor div.container-editor {
    grid-template-columns: 1fr 1fr;
}

#beyond-editor div.container-editor > div#editor-language {
    grid-row: 1;
    grid-column: 1;
    background: #d2d2d2;
    border-top-left-radius: 10px;
}
#beyond-editor .container-editor #editor-actions {
    grid-row: 1;
    grid-column: 2;
}
#beyond-editor div.container-editor > div#editor-flags {
    grid-row: 1;
    grid-column: 3;
    background: #d2d2d2;
    border-top-right-radius: 10px;
}

#beyond-editor div.container-editor > div#editor-input {
    grid-row: 2;
    grid-column: 1/4;
}