/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b, inset -0.2rem -0.2rem 0.5rem #fafafa;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #7b7b7b, inset -0.2rem -0.2rem 0.5rem #fafafa;
	background-color: #e2e2e2;
}

*::-webkit-scrollbar
{
	width: 10px;
    height: 10px;
	background-color: #e2e2e2;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c;
    box-shadow: inset 0.2rem 0.2rem 0.8rem #464646, inset -0.2rem -0.2rem 0.8rem #0c0c0c;
	background-color: #555;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: #555 #e2e2e2;   /* scroll thumb and track */
  }